html {
  overflow: hidden;
  height: 100%; }

body {
  height: 100%;
  overflow: auto;
  overscroll-behavior-y: none; }

.video {
  display: none; }

#df {
  background: linear-gradient(100deg, #e02e16, black);
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%; }

#header-img1 {
  margin-left: 20px;
  flex: 1; }

#nav-bar {
  align-self: center; }

#nav-bar ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0; }

#nav-bar ul li a {
  color: white;
  font-weight: bold;
  border-radius: 5px; }

#nav-bar ul li:hover {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px; }

#nav-bar ul li a:hover {
  color: white; }

#products {
  display: grid;
  margin-top: 100px;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); }

.product {
  border: 5px solid #ce2828;
  border-radius: 10px;
  margin: 10px; }

.product:hover {
  background-color: #9e1313;
  color: white;
  border-color: #830909; }

#prod1,
#prod2,
#prod3 {
  display: grid; }

#searchButton1,
#searchButton2,
#searchButton3,
#videoButton1,
#videoButton2,
#videoButton3 {
  font-size: 30px;
  cursor: pointer; }

.productTitle {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-top: 8px; }

#searchButton1,
#searchButton2,
#searchButton3 {
  display: grid;
  justify-self: end;
  align-self: end; }

#videoButton1,
#videoButton2,
#videoButton3 {
  display: grid;
  height: 20px !important;
  justify-self: start;
  align-self: flex-end;
  margin-bottom: 10px; }

#desc1,
#desc2,
#desc3 {
  position: absolute;
  transform: translateY(9999px);
  opacity: 0; }

.showDescription #desc1,
.showDescription #desc2,
.showDescription #desc3 {
  position: relative;
  transition: opacity 0.5s linear;
  transform: translate(0);
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  padding: 10px; }

.showVideo iframe {
  display: block;
  animation: transitionIn 1s;
  height: 300px;
  width: 100%; }

.showVideo #img1,
.showVideo #img2,
.showVideo #img3 {
  display: none; }

.icons {
  display: grid;
  grid-auto-flow: column; }

#img1,
#img2,
#img3 {
  animation: transitionIn 1s;
  width: 100%; }

.showDescription #img1,
.showDescription #img2,
.showDescription #img3 {
  display: none; }

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(-10px); }
  to {
    opacity: 1;
    transform: translateY(0); } }

#whyUs {
  display: grid;
  grid-gap: 10px;
  margin-top: 50px; }

#whyUs > * {
  display: flex;
  padding: 10px;
  max-width: 800px;
  justify-self: center; }

#premiumMaterials {
  display: flex;
  flex-direction: column; }

#quality > *,
#fastShipping > *,
#warranty > * {
  display: grid;
  grid-template-columns: 150px 1fr; }

.description {
  display: grid; }

p {
  margin: 0;
  padding: 0; }

.icons1 {
  color: #be1717;
  align-self: center;
  margin-right: 40px; }

.qualityTitle {
  font-size: 1.5em;
  margin: 0;
  font-weight: bold;
  align-self: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }

.aboutUs {
  color: rgba(0, 0, 0, 0.6); }

#contactSection {
  margin-top: 50px; }

#contact {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 20px;
  margin-right: 100px;
  margin-left: 100px; }

#contactUs {
  align-self: center;
  justify-self: center;
  padding: 40px;
  border: 3px solid #a12525;
  border-radius: 10px; }

.gmap_canvas {
  position: relative;
  width: 100%;
  padding-bottom: 50%;
  background: lightgreen; }

#notified {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase; }

#email {
  border-radius: 5px; }

#submit {
  color: #221b1b;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  padding: 7px;
  background-color: red;
  justify-content: center; }

#submit:hover, #submit:active {
  color: red;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  padding: 7px;
  background-color: #221b1b; }

#gmap_canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

#contactTitle {
  text-align: center;
  font-size: 1.7em;
  font-weight: 560;
  color: #ac1a1a; }

#contact > * {
  margin: 20px; }

#footer {
  background: linear-gradient(100deg, #e02e16, black);
  display: grid;
  justify-content: end;
  align-content: center;
  grid-auto-flow: row;
  height: auto;
  bottom: 0;
  width: 100%; }

#links {
  display: flex; }

#links > * {
  padding: 10px;
  margin-right: 10px;
  color: white; }

#copyright {
  padding: 0;
  margin: 0;
  color: grey;
  text-align: center; }

#links > a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7); }

@media (max-width: 632px) {
  #quality > *,
  #fastShipping > *,
  #warranty > * {
    display: flex;
    flex-wrap: wrap; }
  #iconF,
  #iconT,
  #iconB {
    display: none; } }

@media (max-width: 375px) {
  #header-img1 {
    display: flex;
    justify-content: center;
    margin-bottom: 10px; }
  #products {
    margin-top: 120px; } }

@media (max-width: 680px) {
  #form {
    display: flex;
    flex-direction: column; } }
