$font-stack: Helvetica, sans-serif;
$primary-color: #d33232;
$bg-color: green;

body{
    font: 100% $font-stack;
    // background: $bg-color;
}

.video{
    display: none;
}

.desc{
    display: none;
}


// .mapouter {
//     position: relative;
//     text-align: right;
//     height: 327px;
//     width: 685px;
// }
// .gmap_canvas {
//     overflow: hidden;
//     background: none !important;
//     height: 327px;
//     width: 685px;
// }