.video {
    display: none;
}

#df {
    background: linear-gradient(100deg, rgb(224, 46, 22), rgb(0, 0, 0));
    display: flex;
    flex-wrap: wrap;
}

#header-img {
    margin-left: 20px;
    flex: 1;
}

#nav-bar {
    align-self: center;
}

#nav-bar ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

#nav-bar ul li a {
    color: white;
    font-weight: bold;
    border-radius: 5px;
    // padding-bottom: 5px;
    // padding-bottom: 15px;
}

#nav-bar ul li:hover {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

#nav-bar ul li a:hover {
    color: white;
}

@media (max-width: 375px) {
    #header-img {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
}

#products {
    display: grid;
    // justify-content: space-between;
    // flex-wrap: wrap;
    margin-top: 50px;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#products > * {
    // flex: 1;
    border: 5px solid rgb(206, 40, 40);
    border-radius: 10px;
    margin: 10px;
}

.product:hover {
    background-color: rgb(158, 19, 19);
    color: white;
}

#prod1,
#prod2,
#prod3 {
    // display: flex;
    // flex-direction: column;
    display: grid;
    // grid-auto-flow: row;
}

#searchButton1,
#searchButton2,
#searchButton3,
#videoButton1,
#videoButton2,
#videoButton3 {
    font-size: 30px;
    cursor: pointer;
}

// #prod1 > *,
// #prod2 > *,
// #prod3 > * {
//     // flex: 1;
// }

.productTitle {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 8px;
}

#searchButton1,
#searchButton2,
#searchButton3 {
    display: grid;
    // background-color: rgba(0, 0, 0, 0.3);
    justify-self: end;
    align-self: end;
}

#videoButton1,
#videoButton2,
#videoButton3 {
    display: grid;
    // background-color: rgba(0, 0, 0, 0.3);
    height: 20px !important;
    justify-self: start;
    align-self: flex-end;
    margin-bottom: 10px;
}

// #searchButton > * {
//     justify-self: center;
//     align-self: end;
// }

#desc1,
#desc2,
#desc3 {
    position: absolute;
    transform: translateY(9999px);
    opacity: 0;
}

.showDescription #desc1,
.showDescription #desc2,
.showDescription #desc3 {
    position: relative;
    transition: opacity 0.5s linear;
    transform: translate(0);
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    padding: 10px;
}

.showVideo iframe {
    display: block;
    animation: transitionIn 1s;
    // height: 100%;
    width: 100%;
}

.showVideo #img1,
.showVideo #img2,
.showVideo #img3 {
    display: none;
}

.icons {
    display: grid;
    grid-auto-flow: column;
}

#img1,
#img2,
#img3 {
    animation: transitionIn 1s;
    width: 100%;
}

.showDescription #img1,
.showDescription #img2,
.showDescription #img3 {
    display: none;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
